<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Tenants - House owner dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div class="card">
            <div class="card-header">
                Centrum powiadomień
            </div>
            <div class="card-body">
                To jest lista powiadomień
            </div>
        </div>
    </div>
</body>
</html>
